In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
from sklearn.impute import SimpleImputer
import pandas as pd
import numpy as np

# DATASET

In [ ]:
train = pd.read_csv('drive/MyDrive/Colab Notebooks/train.csv')

In [ ]:
test = pd.read_csv('drive/MyDrive/Colab Notebooks/test.csv')

In [ ]:
from sklearn import preprocessing
def preprocessing_data(dataset,type):
  df = dataset.fillna(dataset.mean()) # fill in missing values
  df.drop(['id'], axis=1, inplace=True) # drop useless column
  df_columns = [x for x in df.columns if x not in ['label']]
  df = df[df_columns]
  quantile_transformer = preprocessing.QuantileTransformer(output_distribution='normal', random_state=0) # normal distribution
  x = quantile_transformer.fit_transform(df)
  x = pd.DataFrame(x, columns = df_columns)
  if type == 'train':
    y= dataset.loc[:,'label']
    return x,y
  else:
    return x

x_train, y_train = preprocessing_data(train,'train')

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_data.py:2593: UserWarning: n_quantiles (1000) is greater than the total number of samples (87). n_quantiles is set to n_samples.
  "n_samples." % (self.n_quantiles, n_samples)

In [ ]:
x_train.head()

,MO HLADR+ MFI (cells/ul),Neu CD64+MFI (cells/ul),CD3+T (cells/ul),CD8+T (cells/ul),CD4+T (cells/ul),NK (cells/ul),CD19+ (cells/ul),CD45+ (cells/ul),Age,Sex 0M1F,Mono CD64+MFI (cells/ul)
0,2.269206,2.269206,-1.813418,-2.269206,-1.322365,-5.199338,-5.199338,-2.269206,1.224058,-5.199338,5.199338
1,0.936847,0.131539,0.983053,0.420092,1.322365,-0.484675,0.769055,0.769055,-1.894644,5.199338,-0.029151
2,0.620568,-0.936847,0.769055,0.936847,0.808844,0.388462,1.193795,0.808844,-1.108973,5.199338,-0.936847
3,-0.692900,-0.420092,-1.082411,-0.620568,-1.477525,-0.808844,-0.849957,-1.082411,1.622711,5.199338,-0.711549
4,-0.235329,-0.936847,0.357216,0.146254,0.692900,0.000000,0.551348,0.235329,-1.108973,5.199338,-0.551348

# Train

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier( n_estimators=200, criterion='gini', oob_score=True, random_state=10)
rfc.fit(x_train,y_train)

RandomForestClassifier(n_estimators=200, oob_score=True, random_state=10)

# Test

In [ ]:
x_test = preprocessing_data(test,'test')
y_pred = rfc.predict(x_test)
output=pd.DataFrame(y_pred.astype(np.int32),columns=['label'])
output['id']=range(output.shape[0])
output=output.loc[:,['id','label']]
output.to_csv('/content/drive/MyDrive/Colab Notebooks/submission.csv',index=False)

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_data.py:2593: UserWarning: n_quantiles (1000) is greater than the total number of samples (59). n_quantiles is set to n_samples.
  "n_samples." % (self.n_quantiles, n_samples)

# Save the model

In [ ]:
import joblib
joblib.dump(rfc, 'rfc.model')
#rfc = joblib.load('rfc.model')

['rfc.model']